
body{
  background-color: lightgray;
}
.header{
  position: absolute;
  right: 20px;
  top: 20px;
  width:200px;
  overflow: hidden;
  /*float: left;*/

}
.header-item3{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 13px;
  float: right;

}
p{

}
.content{
  /*border: 1px solid black;*/
  width: 450px;
  margin: 0 auto;
  background-color: white;
  /*top: 20px;*/
  text-align: center;
  color: black;
}
.form{
  position: relative;
  top: 50%;

}
.footer{
  width: 650px;
  margin: 0 auto;
  top: 20px;
  text-align: center;

}
a{
  color: blue;
}
.data{
  width: 350px;
  height: 30px;
  padding-bottom: 10px;
}
label{
  text-align: left;
}
.consent{
  font-style: italic;
  font-size: 15px;
}
.info{
  text-align: left;
}
.recap{
  font-size: 10px;
}
.wrapper{
  position: absolute;
  top: 300px;
  left: 350px;
  height: 1000px;
}
.button{
  color:#FFF;
  background-color: #5995DA;
  font-weight:bold;
  padding:20px;
  text-align:center;
  border-radius:5px;
  width:350px;
  box-sizing:border-box;
  margin: 20px auto;

}
.rates{
  font-size: 11px;
}
.learn{
  font-size: 13px;
}
.name{
  padding: 25px 50px 75px 100px;
}
.nav-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
}

.nav-description a {
  font-weight: 400;
  align-items: center;
  font-size: 10px;
}
header nav ul {
  position: absolute;
  right: 20px;
  top: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 11px;
  overflow: hidden;
}
button{
  background-color: blue;
  padding:10px;
  border-radius:5px
}
.main{
  padding-bottom: 20px;
  color: lightslategrey;
}